{% extends "perma_api/base.html" %}

{% block content %}

<p>Plant: {{plant}}</p>
<p>Month: {{month}}</p>
<p>Good Neighbours:</p>
{% if good_neighbours %}
    <ul>
    {% for gn in good_neighbours %}
        <li>
            {{ gn }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no Good Neighbours available.</p>
{% endif %}
<p>Bad Neighbours:</p>
{% if bad_neighbours %}
    <ul>
    {% for bn in bad_neighbours %}
        <li>
            {{ bn }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no Bad Neighbours available.</p>
{% endif %}

{% endblock content %}
